<div class="mainNav col-xs-12">

    <div class="searchNav col-xs-3">
        <img class="img-nav" src="images/discernLogo.png" />
        <input id="main-search2" type="text" class="form-control" placeholder="Global Search">
        <button id="submit2"><i class="fa fa-search"></i></button>
    </div>
    <div class="navLinks col-xs-8">
        <div class="col-xs-2">
            <a ng-href="#/demo">
                <p class="navText">Demo</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a ng-href="#/data">
                <p class="navText">Register</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/services">
                <p class="navText">Services</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/news">
                <p class="navText">News</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/about">
                <p class="navText">About</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/contact">
                <p class="navText">Contact Us</p>
            </a>
        </div>

    </div>
    <div class="col-xs-1">
        <div class="col-xs-6"></div>
        <div class="borderLogin col-xs-6">
            <a id="lockA2" href="#"><i id="lock" class="fa fa-lock fa-lg" aria-hidden="true"></i><br/>Login</a>
        </div>

    </div>
</div>


<div id="about-page" ng-controller="about_controller">
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="leftside">
                <img class="img-circle" id="modal-img" ng-src="{{image}}">
                <p style="margin-top:10px; font-weight:bold; text-align:center;">{{ current_name }}</p>
            </div>
            <div id="rightside">
                <p style="text-decoration:underline; margin-left:20px;"><b>Bio: </b></p>
                <p style="text-align:left; margin-left:20px;">{{ bio }}</p>
            </div>

        </div>
    </div>
    <h1 id="about-header">Our Team</h1>
    <div class="row" style="text-align: center;">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="images/mark-zuckerberg.jpg" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Harry E. Blount');
            changebio('Facebook... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore eaque fugiat quis nobis nesciunt, sunt. Magni pariatur sed, blanditiis eligendi fugit, nemo, eum reprehenderit, voluptate ipsa in dolorem et reiciendis!');
            changeImg('images/mark-zuckerberg.jpg')
            " class="bios">Harry E. Blount</h3>
                    <p>CEO & Founder</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="images/brady.png" class="img-circle" style="border:1px solid">
                <div class="caption">
                    <h3 ng-click="changeName('Marc Cooperstein');
            changebio('Football is my game, football is my life... Lorem ipsum dolor sit amet, consectetur adipisicing elit. At laudantium sunt perspiciatis voluptate facere quis architecto dolore provident sapiente nulla. Mollitia voluptates enim nostrum voluptas nobis neque, laudantium dicta dolorum!');
            changeImg('images/brady.png');
            " class="bios">Marc Cooperstein</h3>
                    <p>Software Engineer</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="images/elon.jpg" class="img-circle">
                <div class="caption">
                    <h3 class="bios" ng-click="changeName('Elon Musk'); changebio('Tesla, SpaceX, Solar City... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores porro amet laboriosam, quasi, illo obcaecati odit. Fuga blanditiis, magni maxime asperiores possimus, aliquam hic iure dignissimos iusto perspiciatis, dolorem enim?'); changeImg('images/elon.jpg');">Elon Musk</h3>
                    <p>Founder of tesla</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="images/bezos.jpg" class="img-circle">
                <div class="caption">
                    <h3 class="bios" ng-click="changeName('Jeff Bezos'); changebio('Jeff Bezos is his own bodyguard... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique beatae neque, consectetur quasi, nisi. Sunt odio odit quibusdam repellendus in architecto libero corporis magnam tenetur. Nesciunt mollitia excepturi sequi.'); changeImg('images/bezos.jpg');">Jeff Bezos</h3>
                    <p>Founder of Amazon</p>
                </div>
            </div>
        </div>
    </div>
</div>
