<div class="mainNav col-xs-12">

    <div class="searchNav col-xs-4">
        <a ng-href="#/home"><img class="img-nav" src="images/discernLogo.png" /></a>
        <input id="main-search2" type="text" class="form-control" placeholder="Global Search">
        <button id="submit2"><i class="fa fa-search"></i></button>
    </div>
    <div class="navLinks col-xs-7">
        <div class="col-xs-2 navLinkDivs">
            <a ng-href="#/overview">
                <p class="navText">Overview</p>
            </a>
        </div>
        <div class="col-xs-2 navLinkDivs">
            <a href="#/services">
                <p class="navText">Services</p>
            </a>
        </div>
        <div class="col-xs-2 navLinkDivs">
            <a ng-href="#/partners">
                <p class="navText">Partners</p>
            </a>
        </div>
        <div class="col-xs-2 navLinkDivs">
            <a href="#/news">
                <p class="navText">News</p>
            </a>
        </div>
        <div class="col-xs-2 navLinkDivs">
            <a href="#/about">
                <p class="navText">About</p>
            </a>
        </div>
        <div class="col-xs-2 navLinkDivs">
            <a href="#/contact">
                <p class="navText">Contact Us</p>
            </a>
        </div>

    </div>
    <div class="col-xs-1">
        <div class="col-xs-6"></div>
        <div class="borderLogin col-xs-6">
            <div id="break"></div>
            <a id="lockA2" href="#"><span id="lock" class="fa fa-lock fa-lg" aria-hidden="true"></span>&nbsp;Login</a>
        </div>
    </div>
</div>


<div id="about-page" ng-controller="about_controller">
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <!--
            <div id="leftside">
                <img class="img-circle" id="modal-img" ng-src="{{image}}">
                <p style="margin-top:10px; font-weight:bold; text-align:center;">{{ current_name }}</p>
            </div>
            <div id="rightside">
                <p style="text-decoration:underline; margin-left:20px;"><b>Bio: </b></p>
                <p style="text-align:left; margin-left:20px;">{{ bio }}</p>
                <ul>
                    <li ng-repeat="bullet in bullets">{{bullet}}</li>
                </ul>
            </div>
-->
            <div class="container">
                <!--<div class="row">-->
                <div class="col-sm-4" id="left">
                    <img class="img-circle" id="modal-img" ng-src="{{image}}">
                    <p style="margin-top:10px; font-weight:bold; text-align:center;">{{ current_name }}</p>
                </div>
                <div class="col-sm-8" style="max-height: 230px; overflow-y: auto; " id="right">
                    <p style="text-decoration:underline; margin-left:20px;"><b>Bio: </b></p>
                    <p style="text-align:left; margin-left:20px;">{{ bio }}</p>
                </div>
                <!-- </div>-->
            </div>
            <style>
                @media (max-width: 644px) {
                    #servicesNav {
                        margin-top: -20px;
                    }
                    .right {
                        text-align: center;
                        overflow-y: auto;
                        max-height: 230px;
                    }
                    .left {
                        margin: 0 auto;
                    }
                    .modal-content {
                        background-color: #fefefe;
                        position: relative;
                        margin: 15% auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 60%;
                        height: 90%;
                    }
                }

                .right {
                    overflow-y: auto;
                    max-height: 230px;
                }
            </style>
        </div>
    </div>
    <h1 id="about-header">Our Team</h1>
    <div class="row" style="text-align: center;">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Team_Members_Harry.png" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Harry E. Blount');
            changebio('Harry Blount, cofounded DISCERN in 2009, based in part on a study done for the national academy of science committee on “Forecasting Future Disruptive Tech” and his 20+ years on Wall Street with major investments firms such as brothers, credit suisse, first boston, donaldson, lukfin and jenette and CIBC oppenheimer. Previously, Harry was named an insituition investor all-Amercian in both infomation tech hardware and internet infrastructure and a wall street journal all-star covering the computer hardware sector. Harry also lent his expertise to the national academy of sciences, where he served as a member of the comittee for forecasting future disruptive tech and to the tech musuem of innovating in san jose where he chaired the futures ocmittee. Harry gradurate from the university of wisconsin la crosse in 1986 with a bs in finance and has been a cra charter holder since the early 1990s');
            changeImg('images/Team_Members_Harry.png')
            " class="bios">Harry E. Blount</h3>
                    <p>Chairman & CEO</p>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="images/mark-zuckerberg.jpg" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Harry E. Blount');
                                  changeBullets(bullet.bio_id)
                                  changeImg('images/mark-zuckerberg.jpg')
                                  " class="bios">Harry E. Blount</h3>
                    <p>Chairman & CEO</p>
                </div>
            </div>
        </div>-->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Team_Members_Thor.png" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Thor Hague');
            changebio('Thor Hague has a unique backround, with years of expertise in innovation commercialization, peer-to-peer, digital currencies, mobile payments and big data. Previously, Thor was a Global Business Development Executive with Western Union Digital Ventures and worked in Early Stage Venture Investments at Nokia Ventures.');
            changeImg('images/Team_Members_Thor.png');
            " class="bios">Thor Hauge</h3>
                    <p>Head of Business Development</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/jim.png" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Jim Christie');
                     changebio('Tesla, SpaceX, Solar City... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores porro amet laboriosam, quasi, illo obcaecati odit. Fuga blanditiis, magni maxime asperiores possimus, aliquam hic iure dignissimos iusto perspiciatis, dolorem enim?');
                    changeImg('images/jim.png');" class="bios">Jim Christie</h3>
                    <p>Head of Product</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/raghu2.jpg" class="img-circle">
                <div class="caption">
                    <h3 class="bios" ng-click="changeName('Raghu Madabusi'); changebio('Raghu Madabusi possess more than 20 years of design, development, and management experience in leading complex projects and high-caliber teams in USA, Germany and India. A Principal Technical Architect with strong business acumen and technical experience in Big Data, Cloud Computing & Traditional IT Projects. Raghu is PMP certified and holds close to dozen IT certifications. He has expertise in building complex Prototypes & Implementations in Big Data & Cloud that involve Machine Learning, Natural Language Processing, Graph Databases, Distributed Computing, Microservices, and more.'); changeImg('images/raghu2.jpg');">Raghu Madabusi</h3>
                    <p>CTO</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Team_Members_Troy.png" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Troy Hansen');
                changebio('30+ years Senior-level Quality Assurance executive. Prior to joining DISCERN, Troy worked for General Dynamics where he was responsible for communications testing on the last two major U.S. satellite constellations. Troy has also served in senior engineering positions for a variety of other firms including Xerox, Honeywell and Fischer Scientific. Troy is an avid options and commodity trader specializing in gold securities.');
                changeImg('images/Team_Members_Troy.png')" class="bios">Troy Hansen</h3>
                    <p>Data Integrity & Enhancement</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Mark.jpg" class="img-circle">
                <div class="caption">
                    <h3 ng-click="changeName('Mark Herrmann');
                                  changebio('Mark Herrmann has 18 years of institutional equity sales experience, including 9 as a Managing Director at Bear Stearns, covering the largest hedge funds and mutual funds on the west coast.  Over the past year, he has been working in a marketing and product development role for several alternative data companies.  Mark received an undergraduate degree in mechanical engineering from Rensselaer Polytechnic Institute and an MBA in finance from USC. He is based in San Francisco.');
                                  changeImg('images/Mark.jpg');
                                  " class="bios">Mark Herrmann</h3>
                    <p>Data & Content Sales</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Team_Members_Dave.png" class="img-circle">
                <div class="caption">
                    <h3 class="bios" ng-click="changeName('Dave Wigginton');
                changebio('David Wigginton has demonstrated a consistent ability to provide differentiated coverage of the real estate investment trust sector both as a Senior Analyst at Macquarie Capital and in the equity research department of Merrill Lynch. Prior to commencing his career in research, David worked as a Senior Consultant in the Financial Services Advisory area at Ernst & Young. He is a graduate of the University of Notre Dame, where he earned an M.S. in Accountancy, and Brigham Young University, where he earned a B.S. in Business Management with a finance emphasis.');
                changeImg('images/Team_Members_Dave.png');">Dave Wigginton</h3>
                    <p>Real Estate Curation</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Team_Members_Richard.png" class="img-circle">
                <div class="caption">
                    <h3 class="bios" ng-click="changeName('Rick Church');
                changebio('Richard Church’s experience base includes 20+ years in equity investing in both public and private realms. His strengths revolve around strategy, financial advisory services, business valuation and global consumer/retail fundamental research. Richard’s background includes senior roles, such as Managing Director at Citi-Smith Barney; Managing Director at Shumway Capital Partners; and Principal/CIO at Quartern Capital Partners. Among Richard’s honors stand his distinction as a five-time winner of the Institutional Investor All-America Research Team award and the Wall Street Journal Best of the Street Award.');
                changeImg('images/Team_Members_Richard.png');">Rick Church</h3>
                    <p>Consumer Retail Curation</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="images/Team_Members_Gil.png" class="img-circle">
                <div class="caption">
                    <h3 class="bios" ng-click="changeName('Gil Yang'); changebio('Jeff Bezos is his own bodyguard... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga similique beatae neque, consectetur quasi, nisi. Sunt odio odit quibusdam repellendus in architecto libero corporis magnam tenetur. Nesciunt mollitia excepturi sequi.'); changeImg('images/Team_Members_Gil.png');">Dr. Gil Yang</h3>
                    <p>Energy Curation</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #about-page {
        margin-top: 20px;
        padding-top: 1px;
    }

    h1 {
        background-color: #337ab7;
        padding-top: 50px;
    }

    .row {
        background-color: #337ab7;
        margin: 0;
        padding-top: 50px
    }

    #about-header {
        margin-bottom: 0;
        font-size: 70px;
        color: white;
    }

    .caption {
        margin-bottom: 10px;
    }

    .img-circle {
        margin-top: 50px;
    }

    #rightside {
        overflow: auto;
    }
    /*#myModal {
        display: flex;
        align-items: center;
    }
    #leftside {
        margin: auto;
    }*/
</style>
