<div class="mainNavNews col-xs-12">

    <div class="searchNav col-xs-4">
        <a ng-href="#/home"><img class="img-nav" src="images/discernLogo.png" /></a>
        <input id="main-search2" type="text" class="form-control" placeholder="Global Search">
        <button id="submit2"><i class="fa fa-search"></i></button>
    </div>
    <div class="navLinks col-xs-7">
        <div class="col-xs-2">
            <a ng-href="#/overview">
                <p class="navText">Overview</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/services">
                <p class="navText">Services</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a ng-href="#/partners">
                <p class="navText">Partners</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/news">
                <p class="navText">News</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/about">
                <p class="navText">About</p>
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#/contact">
                <p class="navText">Contact Us</p>
            </a>
        </div>

    </div>
    <div class="col-xs-1">
        <div class="col-xs-6"></div>
        <div class="borderLogin col-xs-6">
            <div id="break"></div>
            <a id="lockA2" href="#"><span id="lock" class="fa fa-lock fa-lg" aria-hidden="true"></span>&nbsp;Login</a>
        </div>
    </div>
</div>

<div class="container" ng-controller="news">
    <h2 class="newsHeader">DISCERN in the News</h2>
    <div class="row" id="news_page">

        <div class="col-xs-6" style="overflow-y: auto;" id="fill">

            <div ng-repeat="post in posts" id="single_news" ng-click="change_post(post.post_id)" style="overflow-y: hidden;">
                <div>
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.date }}</p>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-xs-6" style="text-align: center; overflow-y: scroll;" id="currentpost">
            <h3>{{ current_story.title }}</h3>
            <p>Date published: {{ current_story.date }}</p>
            <p>{{ current_story.text }}</p>
            <p><a ng-href="{{current_story.link}}">Link to the full article</a></p>
        </div>
    </div>
</div>

<style>
    #single_news {
        /* width: 300px; */
        height: 100px;
        background-color: #d3d3d3;
        color: black;
        text-align: center;
    }

    .selected {
        background-color: green;
    }

    #fill {
        height: 550px;
        border: 2px solid blue;
        padding: 0;
    }

    #currentpost {
        background: #36D1DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5B86E5, #36D1DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 550px;
    }

    a {
        cursor: pointer;
    }
    #news_page
    {
        width: 90%;
        margin: 0 auto;
    }
</style>
